@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color: #851c1c;
}

#header-top{
    background-color: var(--bg-color);
}

*{
    font-family: "Poppins";
}
body{
    background-color: #f7f7f7;
}
#container-item{
    border-bottom: 2px solid #e5e7eb;
    border-top: 2px solid #f7f7f7;
    border-left: 2px solid #f7f7f7;
    border-right: 2px solid #f7f7f7;
}
#container-item:hover{
    border: 2px solid;
    border-color: #851c1c;
    border-radius: 10px;
}


